<div class="monaco-editor-container">
  <md-tab-group (selectChange)="handleTabChange($event)" [selectedIndex]="currentTabIndex">
    <md-tab *ngFor="let tab of tabs"
            md-on-select="alert(click!);">
      <ng-template md-tab-label>
        {{tab.filename | extractFilename}}
        <md-icon (click)="handleTabClose($event, tab.filename)">clear</md-icon>
      </ng-template>
    </md-tab>
  </md-tab-group>
  <app-monaco-raw  [value]="fsService.readFile(currentTab.filename)"
                  [language]="currentTab.editorConfig.language"
                  (change)="changeEvent($event)"
                  [errorLines]="errorLines">
  </app-monaco-raw>
</div>
