<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav>
    <app-file-viewer [hierarchicalFs]="fsService.getHierarchicalFs()">
    </app-file-viewer>
  </md-sidenav>
  <div class="container" id="container">
    <div class="half" id="monaco">
      <app-monaco-editor></app-monaco-editor>
    </div>
    <div id="resizerX" style="width: 5px; height:100%; background: #ccc; float: right;"></div>
    <div class="half" #iframeContainer [appUpdateIframe]="generatedBundle" id="display">
      <iframe></iframe>
    </div>
  </div>
</md-sidenav-container>

<app-error-console></app-error-console>
