<md-list *ngIf="folderList" dense>
  <md-list-item
  *ngFor="let ow of folderList"
  [contextMenu]="(ow.object.folderName) ? folderMenu : fileMenu"
  (click)="objectClickEvent($event, ow.object)"
  [contextMenuSubject]="ow"
  [style]="generateListStyle(ow)">
    {{(ow.object.folderName) ?
        ow.object.folderName: ow.object.fileName | extractFilename}}
  </md-list-item>
</md-list>

<context-menu #fileMenu>
  <ng-template contextMenuItem
  (execute)="removeFile($event)">
    Delete File
  </ng-template>
</context-menu>

<context-menu #folderMenu>
  <ng-template contextMenuItem
  (execute)="addNewFileInFolder($event)">
    New File
  </ng-template>
  <ng-template contextMenuItem
  (execute)="removeFolder($event)">
    Delete Folder
  </ng-template>
</context-menu>
