.indent {
  margin-left: 10px;
}

:host {
  display: block;
}

.file {
  cursor: pointer;
}

md-list-item {
  border-left: 1px solid #ccc;
}

.container.display {
  display: block;
}

.container {
  display: none;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
