/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * BEGIN CUSTOM GLOBAL CSS
 */

 @import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
	height: 100%;
  overflow: hidden;
  background: #fafafa;
}


/* CONTEXT MENU */

.ngx-contextmenu {
}

.ngx-contextmenu ul.dropdown-menu {
  padding: 8px 0;
  line-height: 24px;
  list-style-type: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.ngx-contextmenu li {
  padding: 0 16px;
  line-height: 28px;
  font-weight: 400;
}


.ngx-contextmenu a {
  color: black;
  display: block;
   padding: 0.5em 1em;
  text-decoration: none;
}
.ngx-contextmenu li:hover {
  background-color: #ccc;
}

/* TABS */

.mat-tab-label {
  display: table !important;
  height: 35px !important;
  line-height: 35px !important;
  min-width: inherit !important;
}


/* ERROR DECORATIONS! */

.errorDecorationHighlight {
  background: red;
  opacity: 0.3;
}
